@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* config css toastify */
  --toastify-color-success: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  --toastify-color-warning: linear-gradient(15deg, #cff10f 0%, #f3cc0a 100%);
  --toastify-color-error: linear-gradient(15deg, #f43b47 0%, #453a94 100%);
  --toastify-icon-color-success: #035450;
  --toastify-icon-color-warning: #cff10f;
  --toastify-icon-color-error: #d0011b;
}

* {
  font-family: "Nunito", sans-serif !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

html:hover *::-webkit-scrollbar {
  display: block;
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  min-height: 18px;
}

.name-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  min-height: 20px;
}

.ace_editor {
  width: 100%;
  height: 100%;
}

.ace_content {
  height: 100%;
}
